*{
    font-family: 'GT Haptik Medium',sans-serif;
}
/* ---------------------------section - 1 --------------------------------- */

#section-1{
    width: 96%;
    /* height: 1000px; */
    background-color: #2C1338;
    padding: 20px 30px 60px;
}
#rk_heading-1{
    width: 70%;
    /* border: 1px solid white; */
    margin:  auto;
    color: white;
    font-family: 'GT Haptik Medium',sans-serif;
    font-weight: 350;
    font-size: 35px
}

/* -------------------- Font Colors----------------------- */
.purple{
    color: #E57CD8;
    
}
.white{
    color: #FFF3ED;
    font-family: 'GT Haptik Medium',sans-serif;
}

/* ----------------------------- section 1 second div ----------------------------- */

#section_1_second_div{
    width: 70%;
    /* border: 1px solid white; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#section_1_second_div>div:nth-child(1){
    width: 50%;
    /* border: 1px solid yellow; */
   
}


#section_1_second_div>div:nth-child(1)>div:nth-child(1)>p{
    font-size: 25px;
}

/* -------------------------Gap between two tags------------------- */

.div_gap{
    margin-top: 20px;
}

/* -----------------------Input tags ------------------------------ */

.inputBox{
   
    width: 70%;
    height: 20px;
    padding: 12px;
    background-color: #2C1338;
   border: 2px solid gray;
}
.signupBtn{
    width: 200px;
    padding: 18px;
    border-radius: 30px;
    background-color: #E57CD8;
    font-weight: bold;
    border: none;
    font-size: 15px;
    color: white;
}
.signupBtn:hover{
    background-color: #564260;
    color: #FFF;
}

.smallSize{
    font-size: 12px;
}

#section_1_second_div>div:nth-child(1)>div:nth-child(3){
    /* width: 90%; */
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
}
#section_1_second_div>div:nth-child(1)>div:nth-child(3)>div:nth-child(2){
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.imgSize{
    border-radius: 50px;
    border: none;
    /* margin-top: 20px; */
}

.imgSize>img{
   
    width: 30px;
    border-radius: 50px;
}

/* ----------------------------------timer div------------------ */

#section_1_second_div>div:nth-child(2){
    /* border: 1px solid yellow; */
    width: 50%;
}


#timer{
    width: 350px;
    padding: 10px;
    padding-left: 25px;
    border-radius: 15px;
    font-size: 18px;
    background-color: white;
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

#timer>img{
    width: 40px;
}
#section_1_second_div>div:nth-child(2)>div:nth-child(2){
    /* border: 1px solid blue; */
    width: 70%;
    margin: 40px auto;
    font-size: 20px;
}

#section_1_second_div>div:nth-child(2)>div:nth-child(2)>p:nth-child(1){
    font-size: 22px;
    line-height: 1.35;

}
#section_1_second_div>div:nth-child(2)>div:nth-child(2)>p:nth-child(2){
    float: right;
}

#section_1_third_div{
    width: 65%;
    border: 1px solid pink;
    margin: 50px auto;
    background-color: #FCE5D8;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
#section_1_third_div>div{
    display: flex;
    width: 28%;
    padding-right: 10px;
    
}
#section_1_third_div>div:nth-child(1){
    border-right: 1px solid black;
}
#section_1_third_div>div:nth-child(2){
    border-right: 1px solid black;
}

#section_1_third_div>div>img{
    margin-right: 20px;
}

#section_1_last-line{
    width: 18%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#section_1_last-line>p:nth-child(1){
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
#section_1_zlast-line>p:nth-child(2){
    font-family: 'GT Haptik Medium',sans-serif;
}

.right-dir{
    width: 7px;
}
.removeUnderline{
   text-decoration: none;
}

/* --------------------------------Section-2 CSS Start -------------------------------- */

#section-2{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    /* height: 1000px; */
    background-color: #FFF3ED;
    /* border: 0.01px solid black; */
}

#rk-heading-2{
    width: 55%;
    /* border: 1px solid black; */
    font-size: 30px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    /* margin-top: 0px; */
}

#rk-heading-2 h2{
    color: #412A4C;
    font-family: 'GT Haptik Medium',sans-serif;
    /* font-weight: 400; */
    line-height: 1.2;
    
}

#contain-2-div{
    width: 75%;
    /* border: 1px solid blue; */
    /* height: 100px; */
    margin: auto;
    display: flex;
    
}
#contain-2-div>div{
    width: 43%;
    margin: auto;
    /* border: 1px solid red; */
    padding: 25px;
}

#contain-2-div>div>p{
    font-weight: bold;

}

#section-2-div-1{
    background-color: #FAE5F7;

}

#section-2-div-2{
    background-color: #FCE5D8;
    
}

.commonDiv>h3{
    font-size: 25px;
    margin-top: 10px;
   
}

.commonBtn1{
    width: 150px;
    padding: 18px;
    border-radius: 30px;
    background-color: #E57CD8;
    font-size: 15px;
    border: none;
    color: #FAE5F7;
    font-weight: bolder;
}
.commonBtn1:hover{
    background-color: #564260;
    color: #FFF;
}

.commonDiv>div:nth-child(4)>img{
    width: 400px;
    margin-left: 70px;
    margin-top: -20px;
}


.commonDiv>p>a{
    font-size: 14px;
    color: #564260;
    font-weight: 100;
}
.dashLine{
    width: 10px;
    color: black;
}

#contain-3-div{
    width: 75%;
    /* border: 1px solid blue; */
    /* height: 100px; */
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

#contain-3-div>div{
    width: 27%;
    /* border: 1px solid red; */
    padding: 20px 20px 15px;

}
#contain-3-div>div>p:nth-child(1){
    font-weight: bold;
}
#contain-3-div>div>h4{
    font-size: 20px;
    font-weight: 700;
    color: #412A4C;
    font-family: 'GT Haptik Medium',sans-serif;
}
#contain-3-div>div>p>a{
    color: #564260;
    text-decoration: none;
}
#contain-3-div>div>p>a:hover{
    color: #E57CD8;
}
#contain-3-div>div:nth-child(1){
    background-color: #FCE5D8;
}
#contain-3-div>div:nth-child(2){
    background-color: #ffebbd;
}
#contain-3-div>div:nth-child(3){
    background-color: #FAE5F7;
}


/* --------------------------------- Gradient CSS ------------------------ */

#gradient{
    background-color: #FFF3ED;
    background: linear-gradient(7deg, #2C1338 50%,#FFF3ED 50%);
    width: 100%;
    height: 200px;
}

#gradient>img{
    width: 450px;
    margin-left: 57%;
}


/* ---------------------------- Section-3 CSS ------------------------------ */

#section-3{
    width: 100%;
    /* height: 500px; */
    background-color: #2C1338;
    padding-bottom: 70px;
}
#section-3-heading{
    width: 43%;
    /* border: 1px solid white; */
    margin-left: 220px;
}
#section-3-heading>h3{
    font-size: 33px;
    color: #FFF3ED;
    font-family: 'GT Haptik Medium',sans-serif;
    margin-top: 0px;

}


#section-3-second-div{
    width: 75%;
    /* height: 100px; */
    margin: auto;
    /* border: 1px solid rebeccapurple; */
   padding-top: 40px;
}

#section-3-second-div>div{
    
    display: flex;
    justify-content: space-between;
}
#section-3-second-div>div>div{
    /* border: 1px solid white; */
    width: 30%;
    height: 350px;
    margin: auto;
}
#section-3-second-div>div>div>div{
    padding: 30px;
    background-color: #FFF3ED;
    text-align: center;
}
.darkPurple{
    color: #564260;
}

#section-3-second-div>div>div>div>div:nth-child(1){
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}

#section-3-second-div>div>div>div>p:nth-child(2){
    margin-top: 0px;
    font-size: 15px;
}

#section-3-second-div>div>div:nth-child(2)>div{
    margin-top: 50px;
}

#section-3-second-div>div>div:nth-child(3)>div{
    margin-top: 100px;
}


#companyNames{
    width: 75%;
    /* height: 100px; */
    margin: auto;
    
}

#companyNames>div{
    /* border: 1px solid white; */
    padding-top: 50px;
    padding-bottom: 50px;
}
#companyNames>div>div>img{
    width: 85%;
    /* border: 1px solid white; */
    display: block;
   margin: auto;
}


#section-3-last-div{
    width: 75%;
    margin: auto;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-3-last-div>div:nth-child(2){
    margin-left: 20px;
    text-decoration: none;
    color: #E57CD8;
}

#section-3-last-div>div:nth-child(2)>a{
    /* margin-left: 20px; */
    font-weight: bold;
    text-decoration: none;
    color: #E57CD8;
}